<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Customer_Details.Delete_Creation"></activity>
        <activity android:name=".Employee_Details.Salary_View" />
        <activity android:name=".Customer_Details.CreationUpdate_LeafClone" />
        <activity android:name=".Customer_Details.CreationUpdate_Clone" />
        <activity android:name=".Customer_Details.CreationUpdate" />
        <activity android:name=".view_employee" />
        <activity android:name=".add_employee" />
        <activity android:name=".Employee_SalaryEdit" />
        <activity android:name=".Customer_Details.Profile_Edit" />
        <activity android:name=".Customer_Details.Thought" />
        <activity android:name=".Employee_Details.Employee_Search" />
        <activity android:name=".Customer_Details.LightBoard_Clone" />
        <activity android:name=".Customer_Details.LightBoard" />
        <activity android:name=".Customer_Details.NameBoard_Clone" />
        <activity android:name=".Customer_Details.NameBoard" />
        <activity android:name=".Customer_Details.Leaflet_Clone" />
        <activity android:name=".Customer_Details.Leaflet" />
        <activity android:name=".Customer_Details.Banner_Clone" />
        <activity android:name=".Customer_Details.Customer_Profile" />
        <activity android:name=".Customer_Details.Banner" />
        <activity android:name=".DaytoDayWork" />
        <activity android:name=".OfficeEMP" />
        <activity android:name=".OutsideEMP" />
        <activity android:name=".Customer_Details.Customer_Choose" />
        <activity android:name=".Employee_Choose" />
        <activity android:name=".Employee_Details.Employee_SalaryUpdate" />
        <activity android:name=".Employee_Details.Employee_Salary" />
        <activity android:name=".Employee_Login" />
        <activity android:name=".Admin_Choose" />
        <activity android:name=".Admin_Login" />
        <activity android:name=".Check" />
        <activity android:name=".Customer_Details.Register" />
        <activity android:name=".Customer_Details.Customer_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>